/Array_max_min.exe
/Array_reverse.exe
/Array_max_subarray.exe
/Array_contains_duplicates.exe
/Array_choco_distri.exe
/Array_search_in_rotated.exe
/String_isPalindrome.exe
/String_isAnagram.exe
/String_valid_parentheses.exe
/String_remove_consecutives.exe
/String_longest_common_prefix.exe
/String_numeric_keypad.exe
/String_duplicate_char.exe
/SS_sum_of_permuted_array.exe
/Array_sortedRotated.exe
/Array_second_smallest_element.exe
/Array_second_largest_element.exe
/String_largest_odd_number.exe
/String_Permutation.exe
/String_longest_Substrwithoutrepeat.exe
/String_longest_replacement.exe
/String_group_anagrams.exe
/SS_Count_Sort.exe
/SS_Common_in_sorted_array.exe
/SS_adjacent_difference.exe
/SS_ceiling_sortedArray.exe
/SS_pair_with_difference.exe
/SS_Majority_Element.exe
/SSCountTriplets.exe
/SSMaximumSumSubsequence.exe
/SSMergeSortedArray.exe